<%= simple_form_for @recipe, { multipart: true} do |f| %>

	<% if @recipe.errors.any? %>
		<div id="errors">
			<ul>
			<% @recipe.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div>
		<label for="recipe[title]">* Title</label>
		<%= f.input :title, label: false %>
		<label for="recipe[description]">* Description: 280 character limit</label>
		<%= f.input :description, label: false %>
		<label for="recipe[meal_category]">* Meal category</label><br />
		<select name="recipe[meal_category]" required="true">
			<option>breakfast</option>
			<option>lunch</option>
			<option>dinner</option>
			<option>dessert</option>
			<option>other</option>
		</select>
		<br />
		<label for="recipe[picture]">* Picture: as high resolution as possible, square if you can. Will be cropped to 400x400</label>
		<%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
		<div>
			<h3>Ingredients</h3>
			<p>Add ingredients, including quantities</p>
			<div id="#ingredients">
				<%= f.simple_fields_for :ingredients do |ingredient| %>
					<%= render 'ingredient_fields', f: ingredient %>
				<% end %>
			<div>
				<%= link_to_add_association 'Add Ingredient', f, :ingredients %>
			</div>
		</div>
		<div>
			<h3>Directions</h3>
			<p>Add directions, step by step</p>
			<div id="#directions">
				<%= f.simple_fields_for :directions do |direction| %>
					<%= render 'direction_fields', f: direction %>
				<% end %>
			<div>
				<%= link_to_add_association 'Add Step', f, :directions %>
			</div>
		</div>
	</div>
<%= f.button :submit %>
<% end %>
