<nav>
<%= link_to "All", recipes_path %>
<%= link_to "Breakfast", recipes_meal_path(slug: "breakfast") %>
<%= link_to "Lunch", recipes_meal_path(slug: "lunch") %>
<%= link_to "Dinner", recipes_meal_path(slug: "dinner") %>
<%= link_to "Other", recipes_meal_path(slug: "other") %>
</nav>