<div>
  <div id="recipe_top">
    <div>
      <%= image_tag @recipe.picture.url if @recipe.picture?%>
    </div>
  </div>
  <div>
    <div>
      <div id="recipe-info">
        <h1><%= @recipe.title %></h1>
        <p><%= @recipe.description %></p>
      </div>
    </div>
    <div>
      <div>
        <div id="ingredients">
          <h2>Ingredients</h2>
          <ul>
            <% @recipe.ingredients.each do |ingredient| %>
              <li><%= ingredient.name %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <div>
        <div id="directions">
          <h2>Directions</h2>
          <ol>
            <% @recipe.directions.each do |direction| %>
              <li><%= direction.step %></li>
            <% end %>
          </ol>
        </div>
      </div>
    </div>
    <div>
      <div>
        <% if user_signed_in? && @current_user.id == @recipe.user_id %>
          <%= link_to "Edit", edit_recipe_path %>
          <%= link_to "Delete", recipe_path, method: :delete, data: {confirm: "Are you sure?"} %>
          <% end %>
        </div>
      </div>
    </div>
