.main_content
  #recipe_top.row
    .col
      = image_tag @recipe.picture.url if @recipe.picture?
  .row
    .col
      #recipe_info
        %h1= @recipe.title
        %p.description= @recipe.description
        %p
          Submitted by
          = @recipe.user.email
  .row
    .col
      #ingredients
        %h2 Ingredients
        %ul
          - @recipe.ingredients.each do |ingredient|
            %li= ingredient.name
  .row
    .col
      #directions
        %h2 Directions
        %ul
          - @recipe.directions.each do |direction|
            %li= direction.step
  .row
    .col
      = link_to "Back", root_path, class:"btn btn-default"
      - if user_signed_in?
        = link_to "Edit", edit_recipe_path, class:"btn btn-default"
        = link_to "Delete", recipe_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default"
