<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133603965-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-133603965-3');
    </script>
    <title>Recipes Without Blogs</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav>
      <a href="<%= root_path %>">RWB</a>
      <% if user_signed_in? %>
        <%= link_to "New Recipe", new_recipe_path, class: "nav-link" %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
      <% else %>
        <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
        <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
      <% end %>
    </nav>
    <div class="page-content">
      <% flash.each do |name, msg| %>
        <div>
          <%= msg %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <footer>
      <div>
        <span>You can report problems or suggest improvements on the <a href="https://github.com/ogdenstudios/recipeswithoutblogs/issues" target="_blank" rel="noopener">GitHub issues page</a> for this project, or email <a href="mailto:tylerwilliamsct@gmail.com">Tyler</a> about it if that's easier.</span>
      </div>
    </footer>
  </body>
</html>
