<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133603965-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-133603965-3');
    </script>
    <title>Recipes Without Blogs</title>
    <!-- OG Tags -->
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Recipes Without Blogs" />
    <meta property="og:description" content="<%= @description ? @description : "Just recipes. No backstories."%>" />
    <meta property="og:image" content="<%= @image_url ? @image_url : "https://s3-us-west-2.amazonaws.com/recipes-without-blogs/rwb-logo.png" %>" />
    <meta property="og:locale" content="en_US" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "layouts/partials/nav" %>
    <main class="page-content">
      <% flash.each do |name, msg| %>
        <aside>
          <%= msg %>
        </aside>
      <% end %>
      <%= yield %>
    </main>
    <footer>
      <p>Report problems or make suggestions <a href="https://github.com/ogdenstudios/recipeswithoutblogs/issues">on GitHub</a> or <a href="mailto:tyler@ogdenstudios.xyz">via email</a>.</p>
    </footer>
  </body>
</html>
